[Unit]
Description=borgmatic backup
Requires=default.target
After=default.target
ConditionACPower=true

[Service]
Type=simple
Restart=on-failure
RestartSec=1min

# Lower CPU and I/O priority.
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100


# inhibit shutdown requests before command is executed
# --who - human readable description of the program taking the lock
# --why - human readable description of the reason for taking the lock
ExecStart=/bin/systemd-inhibit \
--who="borgmatic" \
--why="Prevent interrupting scheduled backup" \
/home/abergman/.local/bin/borgmatic \
--verbosity 1
