[Unit]
Description=NATS messaging server
After=network.target

[Service]
Type=simple
ExecStart=/home/abergman/apps/local/bin/nats-server --http_port 8222
Restart=on-failure

[Install]
WantedBy=default.target
